.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #242f44;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.App-nav-li {
  display: flex;
  justify-content: space-around;
  background-color: rgb(58, 56, 56);
  padding: 1rem 2rem;
}
.App-nav-li li {
  list-style: none;
}
.App-nav-li li a {
  color: aliceblue;
  text-decoration: none;
}

.images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin: 100px auto;
  width: 60%;
  /* min-height: 70vh; */
}
.image {
  width: 30%;
  height: 30%;
  color: #eee;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #9e9e9e;
  overflow: hidden;
}
.image img {
  display: block;
  width: 100%;
}
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.05rem;
  gap: 5px;
}
.pagination .page-num {
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 3px;
  font-weight: 300px;
}
.pagination .page-num:hover {
  background-color: #5ab1bb;
  color: #fff;
}
.pagination .active {
  background-color: #5ab1bb;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
 }
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #4169e1;
  margin: 1rem 1rem;
  padding: 1rem;
  max-width: 300px;
  border-radius: 10px;
}
.card-image {
  border-radius: 50%;
}
